@font-face {
  font-family: tron;
  src: url(./fonts/Tr2n.ttf);
}

@font-face{
  font-family: bladeRunner;
  src: url(./fonts/BLADRMF_.TTF)
}

* {
  font-family: tron;
}

.blade {
  font-family: bladeRunner;
}

.highlighted {
  background-color: tomato;
}
